.ui.grid
    .three.column.row
        .column
        .column
          .ui.breadcrumb
            a.section Ayuda
            .divider  / 
            a.section Soporte
            .divider  / 
            a.section Acerca de
        .column

block extrafooter