head
  //- Meta Data
  meta(charset='utf-8')
  meta(name='x-csrf-token', content=_csrf)
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  
  //- SEO Meta Data
  title Taxi Santa Victoria Admin
  
  //- Styles
  link(rel='stylesheet', href='../css/semantic.css')
  link(rel='stylesheet', href='../css/style.css')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js')
  script(src='../js/semantic.js')
  script(src='../js/page.js')
  
  block extrahead